<div class="container my-5">
        
    <div class="row justify-content-end">
        <div class="col-sm-12 mb-4">
            <table class="table table-sm">
                <tr class="bg-light">
                    <th>Package Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                <tr *ngFor="let list of packages;let i=index">
                    <td>{{list.itemName}}</td>
                    <td>₹ {{list.minPrice}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-light" (click)="decrease(list)"><i class="fa fa-minus" ></i></button>
                            <button type="button" class="btn btn-light">{{list.testCount}}</button>
                            <button type="button" class="btn btn-light" (click)="increase(list)"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                    <td>₹ {{list.testCount*list.minPrice}}</td>
                    <td><i class="fa fa-close" (click)="del(list.id)"></i></td>
                </tr>
               
            </table>
        </div>
        <div class="col-sm-4">
            
            <table class="table">
                <tr>
                    <td colspan="2"><strong>Order Summary</strong></td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td>₹ {{cartTotal}}</td>
                </tr>
            </table>
            
        </div>
        <div class="col-sm-12 text-right" *ngIf="cartTotal>0">
            <button class="btn btn-info" routerLink="/checkout">Check Out</button>
        </div>
    </div>
</div>