<div class="login_bg">

    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
    
            <div class="col-md-3  mt-5" >
                <img src="./assets/img/logo.png"/>
                <div class="login_box">
                    <h6 class="text-info">Login</h6>
                    <hr>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username" class="text-info">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            
                        </div>
                        <button  class="btn btn_login float-right">
                            Login
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </form>
                </div>
                
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>