<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        
        
         <!-- SEARCH BAR -->
         <div class="col-md-6 text-right">
            <div class="header-search">
                
                    <input  [(ngModel)]="searchText" class="input" placeholder="Search here">
                  
            </div>
        </div>
        <!-- /SEARCH BAR -->
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- STORE -->
            <div id="store" class="col-md-12">
                
                <!-- store products -->
                <div class="row" *ngIf="testListRecord.length > 0">
                    <!-- product -->
                    <div class="col-md-3 col-xs-6"  *ngFor="let labItem of testListRecord | filterpipe:searchText; let i = index">
                        <div class="product">
                            <div class="product-img">
                                <img src="./assets/img/covid1.png" alt="">
                                
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{labItem.category}}</p>
                                <h3 class="product-name"><a href="#">{{labItem.itemName}}</a></h3>
                                <h4 class="product-price">{{labItem.minPrice}} INR</h4>
                               
                               
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"  (click)="addCart(labItem)"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </div>
                        </div>
                    </div>
                    <!-- /product -->
                  
                    <div class="clearfix visible-sm visible-xs"></div>

                    
                </div>
                <div class="row" *ngIf="testListRecord.length==0">
                        No Result Found !
                    </div>
                <!-- /store products -->

              
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
