<div class="wrapper_dash">
  <app-header *ngIf="currentUser"></app-header>

  <app-leftmenu *ngIf="currentUser"></app-leftmenu>
  <router-outlet></router-outlet>
  <app-footer *ngIf="currentUser"></app-footer>

</div>